# {{ ansible_managed }}

[Unit]
Description=Prometheus {{ item.name }}
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
Type=simple
User={{ exporter_username }}
Group={{ exporter_username }}
{% if item.exporter_env is defined %}   
Environment={{ item.exporter_env }}
{% endif %}
Restart=on-failure
ExecStart={{ prometheus_exporter_install_directory }}/{{ item.github_name }}/{{ item.github_name }} {{ item.exporter_args | default("") }}

[Install]
WantedBy=multi-user.target